

.title{
    margin: 50px 0px 50px 0px;
}

.add-btn{
    margin: 30px 0px 10px;
}

.form{
    border-radius: 50px;
    margin: 50px 0px 50px 0px;
    padding: 50px 50px 50px 50px;
    background-color: rgb(233, 221, 196) !important;
    font-weight: bold;
}

.menu{
    margin: 200px 0px 200px 0px;
}

.menu .myBtn{
    width: 100%;
    height: 100%;
    padding: 50px 0px 50px 0px;
    font-size: 50px;
}